<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Decryption? I hardly know ion!</h1>
    <hr>
    <div class="content">
    <a href="{{ url_for('index') }}">Home Page</a>
    <form method="post">
        <p>
            <b><label for="user_key">Key</label></b>
        </p>
        <p>
            <input type="text" name="user_key"
                placeholder="Encryption / Decryption Key"></input>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    </div>
</body>
</html>