<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskApp</title>
    <style>
        .todo {
            padding: 20px;
            margin: 10px;
            background-color: #eee;
        }
    </style>
</head>
<body>
    <h1>Decryption? I hardly know ion!</h1>
    <hr>
    <div class="content">
    <form method="post">
        <p>
            <b><label for="user_key">Key</label></b>
        </p>
        <p>
            <input type="text" name="user_key"
                placeholder="Encryption / Decryption Key"></input>
        </p>
        <button type="submit">Submit</button>
    </form>
    <hr>
    {% for login in logins %}
        <div class="login">
            <p><b>{{ login['login_website'] }}</b> {{ login['login_username'] }} <i>({{ login['login_password']}})</i></p>
            <form method="POST" action="{{ url_for('delete', id=login['_id']) }}">
                <input type="submit" value="Delete Login " onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
            <form method="POST" action="{{ url_for('decrypt', key=user_key, id=login['_id']) }}">
                <input type="submit" value="Decrypt Login " onclick="return confirm('Have you filled out your key?')">
            </form>
        </div>
    {% endfor %}
    </div>
</body>
</html>